In [ ]:
# write a program to accept precentage from the user and display the grade according to the following criteria:

In [2]:
marks = int(input("enter your marks "))
if marks >= 90:
    print("GRADE = A")
elif marks > 80 and marks<= 90:
    print("GRADE = B")
elif marks >= 60 and marks <=80 :
    print("GRADE = C ")
else :
    print("GRADE = D")

enter your marks  85

GRADE = B

In [3]:
# write a programe to accept the cost price of a bike and display the road tax to be paid according to the following criteria?

In [4]:
 price = int(input("enter  price of a bike" ))
if price > 100000:
    print("road tax to be paid 15%")
elif price >50000 and price<=100000:
    print("road tax to be paid 10%")
elif price <= 50000 : 
    print("road tax to be paid 5%")
else :
    print("not interested ")

enter  price of a bike 50000

road tax to be paid 5%

In [5]:
# accept any city from the user and display monuments of that city?

In [6]:
city = (input("ENTER THE CITY NAME with (first letter capital)  FOR MANUMENT" ))
if city=="Delhi":
    print("RED FORT")
if city=="Agra" :
    print("Taj Mahal")
if city=="Jaipur":
    print("Jal Mahal")
else :
    print("invalid manument")

ENTER THE CITY NAME with (first letter capital)  FOR MANUMENT Jaipur

Jal Mahal

In [7]:
# check how many times a  given number can be devided by 3 before it is less than or eqal to 10.

In [9]:
counter=0
number =80
while number >=10:
    number=number/3
    counter=counter+1
print("total iteration required", counter)

total iteration required 2

In [ ]:
#  why and when to use while loop in python give detailed discription with example

With the while loop we can execute a set of statements as long as a condition is true.

1.A while loop evaluates the condition
2.If the condition evaluates to True, the code inside the while loop is executed.
3.condition is evaluated again.
4.This process continues until the condition is False.
5.When condition evaluates to False, the loop stops.

examples:-With the while loop we can execute a set of statements as long as a condition is true

In [78]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

example:-With the break statement we can stop the loop even if the while condition is true

In [38]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
        
    i += 1

1
2
3

example:-With the continue statement we can stop the current iteration, and continue with the next

In [81]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

example:-With the else statement we can run a block of code once when the condition no longer is true

In [82]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [83]:
#use nested while loop to print 3 different pattern?

In [2]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
i = 1
# outer loop
while i <=10:
    j=1
    while j <=i :
        print("*", end=" ")
        j=j+1
    print('')
    i=i + 1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [9]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  10

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#reverse a while loop to display numbers from 10 to 1

In [27]:
i= int(input("enter your number for reversal"))
while i > 0:
    print(i)
    i = i - 1

enter your number for reversal 10

10
9
8
7
6
5
4
3
2
1

In [28]:
#reverse a while loop to display numbers from 10 to 1

In [29]:
i=10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1